{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html>
{% block content %}
	<div class="banner">	
		<div class="w3l_banner_nav_right">
		</div>
			<div class="w3_login_module">
				<div class="module form-module">
					<div class="form"></div>
					<div class="form">
						<form method="POST" action="{% url 'payment' total_sum order_id checkout %}">
							{% csrf_token %}
							{{ payment_form.as_p }}
							<input type="submit" value="Συνέχεια">
						</form>
					</div>
				</div>

			</div>
				
			</div>
			
		<div class="clearfix"></div>
	</div>

	{% endblock content %}
</html>